# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Django
*.sqlite3
media/
staticfiles/

# Env & secrets
.env
.env.*
*.env

# Virtual environments
venv/
.venv/
env/

# Tests & coverage
.coverage
htmlcov/
.pytest_cache/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Docker itself
Dockerfile
.dockerignore
docker-compose*.yml

# Logs
*.log